In [1]:
t=()
type(t)

tuple

In [5]:
t1=()
print(type(t1))

<class 'tuple'>

In [7]:
t2=(2,4,6,3,6,8,36,47,)

In [9]:
t2[3]

3

In [15]:
t3=(4,[3,5,8,6,3,6,3,7,8,0])
t3[1]

[3, 5, 8, 6, 3, 6, 3, 7, 8, 0]

In [17]:
t4=t2+t3

In [19]:
t4

(2, 4, 6, 3, 6, 8, 36, 47, 4, [3, 5, 8, 6, 3, 6, 3, 7, 8, 0])

In [25]:
t4[0:4] # slicing

(2, 4, 6, 3)

In [27]:
t4[4]

6

In [29]:
t4[9]=67 # here we are accessing tuple element

TypeError: 'tuple' object does not support item assignment

In [33]:
t4[9][5]=45 # here the tuples value can be changed because we fetched the list inside the tuple

In [35]:
t4

(2, 4, 6, 3, 6, 8, 36, 47, 4, [3, 5, 8, 6, 3, 45, 3, 7, 8, 0])

In [37]:
t5=('one','two','three','four','one','five','three','one')

In [43]:
len(t5)

8

In [54]:
sorted(t5) # it just sorts the list and not change the original value

['five', 'four', 'one', 'one', 'one', 'three', 'three', 'two']

In [56]:
sorted(t5,reverse=True) ## sorts and print the tuple in reverse

['two', 'three', 'three', 'one', 'one', 'one', 'four', 'five']

In [58]:
t6=(5,6,7,2,7,'67','78')

In [60]:
sorted(t6) # occurs string and interger cannot occur in same tuple

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
## sort list without using sort function